In [1]:
from pandas import read_csv

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
def get_title_by_index(index):
    return df[df.index==index]["title"].values[0]

#buraya movie name gelecek mesela fargo [df.title==fargo]["index"] fargoyu dfde bulup indexini döndürüyor
def get_index_by_title(title):        
    firstidx=df[df['title'].str.contains(title)].index.tolist()
    strings = [str(integer) for integer in firstidx]
    
    a_string = "".join(strings)
    
    idx = int(a_string)
    print(idx)
    return idx

#bu da sanırım df cinsinden döndürdüğü için indexi alması için 0 diyor 
#yani iki tane şey var gibi düşün biri index diğeri title 0 dediğinde indexi alıyor

def get_index_from_title(title):
    idx=df[df.title == title].index.values[0]
    print(idx.dtype)
    return idx

In [4]:
csv_ismi="movies.csv"
df=pd.read_csv(csv_ismi)
df

,Unnamed: 0,title,rating,genre,release_date,ranking,director,cast,budget,runtime,cum_worldwide_gross
0,0,The Shawshank Redemption,NaN,Drama,14 October 1994,9.3,Frank Darabont,Tim Robbins;Morgan Freeman;Bob Gunton;William ...,25000000.0,142.0,5.850000e+07
1,1,The Godfather,NaN,Crime; \nDrama,24 March 1972,9.2,Francis Ford Coppola,Marlon Brando;Al Pacino;James Caan;Richard S. ...,6000000.0,175.0,2.450664e+08
2,2,The Godfather: Part II,PG,Crime; \nDrama,20 December 1974,9.0,Francis Ford Coppola,Al Pacino;Robert Duvall;Diane Keaton;Robert De...,13000000.0,202.0,NaN
3,3,The Dark Knight,PG,Action; \nCrime; \nDrama,18 July 2008,9.0,Christopher Nolan,Christian Bale;Heath Ledger;Aaron Eckhart;Mich...,185000000.0,152.0,1.004558e+09
4,4,12 Angry Men,PG,Drama,April 1957,8.9,Sidney Lumet,Martin Balsam;John Fiedler;Lee J. Cobb;E.G. Ma...,350000.0,96.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
245,245,Guardians of the Galaxy,PG,Action; \nAdventure; \nComedy,1 August 2014,8.1,James Gunn,Chris Pratt;Zoe Saldana;Dave Bautista;Vin Dies...,170000000.0,121.0,7.741766e+08
246,246,Fanny och Alexander,NaN,Drama,17 December 1982,8.1,Ingmar Bergman,Kristina Adolphson;Börje Ahlstedt;Pernilla All...,6000000.0,188.0,NaN
247,247,La La Land,PG,Comedy; \nDrama; \nMusic,25 December 2016,8.0,Damien Chazelle,Ryan Gosling;Emma Stone;Amiée Conn;Terry Walte...,30000000.0,128.0,4.460924e+08
248,248,Drishyam,PG,Crime; \nDrama; \nThriller,31 July 2015,8.3,Nishikant Kamat,Ajay Devgn;Shriya Saran;Tabu;Rajat Kapoor;Ishi...,9400000.0,163.0,NaN
249,249,8½,PG,Drama,16 February 1963,8.1,Federico Fellini,Marcello Mastroianni;Claudia Cardinale;Anouk A...,NaN,138.0,NaN

dfden devam çünkğ o daha güzel data set

In [5]:
df=df.drop(["rating"],axis=1)
df

,Unnamed: 0,title,genre,release_date,ranking,director,cast,budget,runtime,cum_worldwide_gross
0,0,The Shawshank Redemption,Drama,14 October 1994,9.3,Frank Darabont,Tim Robbins;Morgan Freeman;Bob Gunton;William ...,25000000.0,142.0,5.850000e+07
1,1,The Godfather,Crime; \nDrama,24 March 1972,9.2,Francis Ford Coppola,Marlon Brando;Al Pacino;James Caan;Richard S. ...,6000000.0,175.0,2.450664e+08
2,2,The Godfather: Part II,Crime; \nDrama,20 December 1974,9.0,Francis Ford Coppola,Al Pacino;Robert Duvall;Diane Keaton;Robert De...,13000000.0,202.0,NaN
3,3,The Dark Knight,Action; \nCrime; \nDrama,18 July 2008,9.0,Christopher Nolan,Christian Bale;Heath Ledger;Aaron Eckhart;Mich...,185000000.0,152.0,1.004558e+09
4,4,12 Angry Men,Drama,April 1957,8.9,Sidney Lumet,Martin Balsam;John Fiedler;Lee J. Cobb;E.G. Ma...,350000.0,96.0,NaN
...,...,...,...,...,...,...,...,...,...,...
245,245,Guardians of the Galaxy,Action; \nAdventure; \nComedy,1 August 2014,8.1,James Gunn,Chris Pratt;Zoe Saldana;Dave Bautista;Vin Dies...,170000000.0,121.0,7.741766e+08
246,246,Fanny och Alexander,Drama,17 December 1982,8.1,Ingmar Bergman,Kristina Adolphson;Börje Ahlstedt;Pernilla All...,6000000.0,188.0,NaN
247,247,La La Land,Comedy; \nDrama; \nMusic,25 December 2016,8.0,Damien Chazelle,Ryan Gosling;Emma Stone;Amiée Conn;Terry Walte...,30000000.0,128.0,4.460924e+08
248,248,Drishyam,Crime; \nDrama; \nThriller,31 July 2015,8.3,Nishikant Kamat,Ajay Devgn;Shriya Saran;Tabu;Rajat Kapoor;Ishi...,9400000.0,163.0,NaN
249,249,8½,Drama,16 February 1963,8.1,Federico Fellini,Marcello Mastroianni;Claudia Cardinale;Anouk A...,NaN,138.0,NaN

In [6]:
df=df.drop(["Unnamed: 0"],axis=1)
df

,title,genre,release_date,ranking,director,cast,budget,runtime,cum_worldwide_gross
0,The Shawshank Redemption,Drama,14 October 1994,9.3,Frank Darabont,Tim Robbins;Morgan Freeman;Bob Gunton;William ...,25000000.0,142.0,5.850000e+07
1,The Godfather,Crime; \nDrama,24 March 1972,9.2,Francis Ford Coppola,Marlon Brando;Al Pacino;James Caan;Richard S. ...,6000000.0,175.0,2.450664e+08
2,The Godfather: Part II,Crime; \nDrama,20 December 1974,9.0,Francis Ford Coppola,Al Pacino;Robert Duvall;Diane Keaton;Robert De...,13000000.0,202.0,NaN
3,The Dark Knight,Action; \nCrime; \nDrama,18 July 2008,9.0,Christopher Nolan,Christian Bale;Heath Ledger;Aaron Eckhart;Mich...,185000000.0,152.0,1.004558e+09
4,12 Angry Men,Drama,April 1957,8.9,Sidney Lumet,Martin Balsam;John Fiedler;Lee J. Cobb;E.G. Ma...,350000.0,96.0,NaN
...,...,...,...,...,...,...,...,...,...
245,Guardians of the Galaxy,Action; \nAdventure; \nComedy,1 August 2014,8.1,James Gunn,Chris Pratt;Zoe Saldana;Dave Bautista;Vin Dies...,170000000.0,121.0,7.741766e+08
246,Fanny och Alexander,Drama,17 December 1982,8.1,Ingmar Bergman,Kristina Adolphson;Börje Ahlstedt;Pernilla All...,6000000.0,188.0,NaN
247,La La Land,Comedy; \nDrama; \nMusic,25 December 2016,8.0,Damien Chazelle,Ryan Gosling;Emma Stone;Amiée Conn;Terry Walte...,30000000.0,128.0,4.460924e+08
248,Drishyam,Crime; \nDrama; \nThriller,31 July 2015,8.3,Nishikant Kamat,Ajay Devgn;Shriya Saran;Tabu;Rajat Kapoor;Ishi...,9400000.0,163.0,NaN
249,8½,Drama,16 February 1963,8.1,Federico Fellini,Marcello Mastroianni;Claudia Cardinale;Anouk A...,NaN,138.0,NaN

In [7]:
for col in df.columns:
    print(col, len(df[col].unique()))

title 250
genre 84
release_date 246
ranking 13
director 136
cast 250
budget 121
runtime 106
cum_worldwide_gross 154

------------------------------------------------------------------------------
İçinde Null olan tüm herşeyi printliyor.
Öylesine bakmak için

In [8]:
#rint(df(df.isnull()))
null_data = df[df.isnull().any(axis=1)]
null_data

,title,genre,release_date,ranking,director,cast,budget,runtime,cum_worldwide_gross
2,The Godfather: Part II,Crime; \nDrama,20 December 1974,9.0,Francis Ford Coppola,Al Pacino;Robert Duvall;Diane Keaton;Robert De...,13000000.0,202.0,NaN
4,12 Angry Men,Drama,April 1957,8.9,Sidney Lumet,Martin Balsam;John Fiedler;Lee J. Cobb;E.G. Ma...,350000.0,96.0,NaN
5,Schindler's List,NaN,25 December 1993,8.9,Steven Spielberg,Liam Neeson;Ben Kingsley;Ralph Fiennes;Carolin...,22000000.0,195.0,221000000.0
8,"Il buono, il brutto, il cattivo",NaN,23 December 1966,8.9,Sergio Leone,Eli Wallach;Clint Eastwood;Lee Van Cleef;Aldo ...,1200000.0,161.0,NaN
15,One Flew Over the Cuckoo's Nest,Drama,19 November 1975,8.7,Milos Forman,Jack Nicholson;Louise Fletcher;Will Sampson;Mi...,4400000.0,133.0,NaN
...,...,...,...,...,...,...,...,...,...
241,Tenkû no shiro Rapyuta,NaN,2 August 1986,8.1,Hayao Miyazaki,Anna Paquin;James Van Der Beek;Cloris Leachman...,NaN,125.0,NaN
244,Gangs of Wasseypur,Action; \nComedy; \nCrime,2 August 2012,8.2,Anurag Kashyap,Manoj Bajpayee;Richa Chadha;Nawazuddin Siddiqu...,NaN,321.0,NaN
246,Fanny och Alexander,Drama,17 December 1982,8.1,Ingmar Bergman,Kristina Adolphson;Börje Ahlstedt;Pernilla All...,6000000.0,188.0,NaN
248,Drishyam,Crime; \nDrama; \nThriller,31 July 2015,8.3,Nishikant Kamat,Ajay Devgn;Shriya Saran;Tabu;Rajat Kapoor;Ishi...,9400000.0,163.0,NaN
249,8½,Drama,16 February 1963,8.1,Federico Fellini,Marcello Mastroianni;Claudia Cardinale;Anouk A...,NaN,138.0,NaN

In [9]:
df.isnull().sum()

title                   0
genre                  48
release_date            0
ranking                 0
director               23
cast                    0
budget                 49
runtime                 1
cum_worldwide_gross    96
dtype: int64

In [10]:
null_data = df[df.isnull().any(axis=1)]
null_data

,title,genre,release_date,ranking,director,cast,budget,runtime,cum_worldwide_gross
2,The Godfather: Part II,Crime; \nDrama,20 December 1974,9.0,Francis Ford Coppola,Al Pacino;Robert Duvall;Diane Keaton;Robert De...,13000000.0,202.0,NaN
4,12 Angry Men,Drama,April 1957,8.9,Sidney Lumet,Martin Balsam;John Fiedler;Lee J. Cobb;E.G. Ma...,350000.0,96.0,NaN
5,Schindler's List,NaN,25 December 1993,8.9,Steven Spielberg,Liam Neeson;Ben Kingsley;Ralph Fiennes;Carolin...,22000000.0,195.0,221000000.0
8,"Il buono, il brutto, il cattivo",NaN,23 December 1966,8.9,Sergio Leone,Eli Wallach;Clint Eastwood;Lee Van Cleef;Aldo ...,1200000.0,161.0,NaN
15,One Flew Over the Cuckoo's Nest,Drama,19 November 1975,8.7,Milos Forman,Jack Nicholson;Louise Fletcher;Will Sampson;Mi...,4400000.0,133.0,NaN
...,...,...,...,...,...,...,...,...,...
241,Tenkû no shiro Rapyuta,NaN,2 August 1986,8.1,Hayao Miyazaki,Anna Paquin;James Van Der Beek;Cloris Leachman...,NaN,125.0,NaN
244,Gangs of Wasseypur,Action; \nComedy; \nCrime,2 August 2012,8.2,Anurag Kashyap,Manoj Bajpayee;Richa Chadha;Nawazuddin Siddiqu...,NaN,321.0,NaN
246,Fanny och Alexander,Drama,17 December 1982,8.1,Ingmar Bergman,Kristina Adolphson;Börje Ahlstedt;Pernilla All...,6000000.0,188.0,NaN
248,Drishyam,Crime; \nDrama; \nThriller,31 July 2015,8.3,Nishikant Kamat,Ajay Devgn;Shriya Saran;Tabu;Rajat Kapoor;Ishi...,9400000.0,163.0,NaN
249,8½,Drama,16 February 1963,8.1,Federico Fellini,Marcello Mastroianni;Claudia Cardinale;Anouk A...,NaN,138.0,NaN

--------------------------------------------------------------------
Director kısmında null olan rowları printliyor
--------------------------------------------------------------------

In [11]:
z=df[df["title"]=='The Matrix']
z
#işe yaramıyor title ı the matrix olan columnu döndürmeye çalışytım ama olmuyor.

Empty DataFrame
Columns: [title, genre, release_date, ranking, director, cast, budget, runtime, cum_worldwide_gross]
Index: []

In [12]:
a=df[df["director"].isnull()]
a
#note: df("director") dediğim zaman hata veriyor. df["director olması lazım dikkat et"]

,title,genre,release_date,ranking,director,cast,budget,runtime,cum_worldwide_gross
17,The Matrix,Action; \nSci-Fi,31 March 1999,8.7,NaN,Keanu Reeves;Laurence Fishburne;Carrie-Anne Mo...,63000000.0,136.0,4.635174e+08
19,Cidade de Deus,Crime; \nDrama,30 August 2002,8.6,NaN,Alexandre Rodrigues;Leandro Firmino;Phellipe H...,3300000.0,130.0,3.205930e+07
26,Sen to Chihiro no kamikakushi,NaN,20 July 2001,8.6,NaN,Rumi Hiiragi;Miyu Irino;Mari Natsuki;Takashi N...,19000000.0,125.0,2.749251e+08
28,Spider-Man: Into the Spider-Verse,NaN,14 December 2018,8.7,NaN,Shameik Moore;Jake Johnson;Hailee Steinfeld;Ma...,90000000.0,117.0,1.496536e+08
39,The Intouchables,NaN,2 November 2011,8.5,NaN,François Cluzet;Omar Sy;Anne Le Ny;Audrey Fleu...,NaN,112.0,4.264809e+08
46,The Lion King,NaN,24 June 1994,8.5,NaN,Rowan Atkinson;Matthew Broderick;Niketa Calame...,45000000.0,88.0,9.874838e+08
55,Avengers: Infinity War,Action; \nAdventure; \nFantasy,27 April 2018,8.5,NaN,Robert Downey Jr.;Chris Hemsworth;Mark Ruffalo...,321000000.0,149.0,2.048710e+09
70,Coco,NaN,22 November 2017,8.4,NaN,Anthony Gonzalez;Gael García Bernal;Benjamin B...,175000000.0,NaN,8.070822e+08
83,Taare Zameen Par,Drama; \nFamily,21 December 2007,8.4,NaN,Darsheel Safary;Aamir Khan;Tisca Chopra;Vipin ...,NaN,165.0,2.189737e+07
93,Singin' in the Rain,Comedy; \nMusical; \nRomance,11 April 1952,8.3,NaN,Gene Kelly;Donald O'Connor;Debbie Reynolds;Jea...,2540800.0,103.0,1.397909e+07
94,Inglourious Basterds,Adventure; \nDrama; \nWar,21 August 2009,8.3,NaN,Brad Pitt;Mélanie Laurent;Christoph Waltz;Eli ...,75000000.0,153.0,3.136000e+08
105,Monty Python and the Holy Grail,Adventure; \nComedy; \nFantasy,27 June 1975,8.3,NaN,Graham Chapman;John Cleese;Eric Idle;Terry Gil...,NaN,91.0,5.028948e+06
113,Up,NaN,29 May 2009,8.3,NaN,Edward Asner;Christopher Plummer;Jordan Nagai;...,175000000.0,96.0,7.313427e+08
146,Inside Out,NaN,19 June 2015,8.2,NaN,Amy Poehler;Phyllis Smith;Richard Kind;Bill Ha...,175000000.0,95.0,8.576112e+08
156,The General,Action; \nAdventure; \nComedy,24 February 1927,8.2,NaN,Buster Keaton;Marion Mack;Glen Cavender;Jim Fa...,750000.0,67.0,NaN
157,No Country for Old Men,Crime; \nDrama; \nThriller,21 November 2007,8.1,NaN,Tommy Lee Jones;Javier Bardem;Josh Brolin;Wood...,25000000.0,122.0,1.716272e+08
161,Gone with the Wind,Drama; \nHistory; \nRomance,17 January 1940,8.2,NaN,Thomas Mitchell;Barbara O'Neil;Vivien Leigh;Ev...,3977000.0,238.0,4.001765e+08
163,Fargo,Crime; \nDrama; \nThriller,5 April 1996,8.1,NaN,William H. Macy;Steve Buscemi;Peter Stormare;K...,7000000.0,98.0,3.600000e+07
166,Finding Nemo,NaN,30 May 2003,8.1,NaN,Albert Brooks;Ellen DeGeneres;Alexander Gould;...,94000000.0,100.0,9.367433e+08
168,The Big Lebowski,Comedy; \nCrime,6 March 1998,8.1,NaN,Jeff Bridges;John Goodman;Julianne Moore;Steve...,15000000.0,117.0,4.618957e+07
179,How to Train Your Dragon,NaN,26 March 2010,8.1,NaN,Jay Baruchel;Gerard Butler;Craig Ferguson;Amer...,165000000.0,98.0,4.948788e+08
220,"Monsters, Inc.",NaN,2 November 2001,8.1,NaN,John Goodman;Billy Crystal;Mary Gibbs;Steve Bu...,115000000.0,92.0,5.628163e+08
230,The Wizard of Oz,Adventure; \nFamily; \nFantasy,21 August 1939,8.0,NaN,Judy Garland;Frank Morgan;Ray Bolger;Bert Lahr...,2800000.0,102.0,NaN

There are two steps to created & populate a new column using only a row number... (in this approach iloc is not used)

First, get the row index value by using the row number

rowIndex = df.index[someRowNumber]
Then, use row index with the loc function to reference the specific row and add the new column / value

df.loc[rowIndex, 'New Column Title'] = "some value"
These two steps can be combine into one line as follows

df.loc[df.index[someRowNumber], 'New Column Title'] = "some value"

In [13]:
rowIndex = df.index[17]
print(rowIndex)

17

In [14]:
df.loc[rowIndex, 'director'] = 'Lilly Wachowski'
df.loc[ 17 , : ]

title                                                        The Matrix
genre                                                   Action; \nSci-Fi
release_date                                               31 March 1999
ranking                                                              8.7
director                                                 Lilly Wachowski
cast                   Keanu Reeves;Laurence Fishburne;Carrie-Anne Mo...
budget                                                           6.3e+07
runtime                                                              136
cum_worldwide_gross                                          4.63517e+08
Name: 17, dtype: object

NOTE
------------------------------------------
df'den birşey seçmek istediğimizde;

df.loc u kullanıyıyoruz öbür türlü mesela:

df[17] dediğimizde algılamıyor. 

belirli bir indexte bir işlem yapmak için: 
df.loc[index,:] kullanıyoruz

In [15]:
df.loc[17,:]=df.loc[17,:].fillna('Lilly Wachowski')

NOTE
------------------

Director ü olmayan indexleri bir dictionaryde topladım sonra hepsinin eksik olan datalarını internetten bulup values 
şeklinde keylere atadım. bir döngüylede hepsini dataframede NaN yerine yazdırdım

In [16]:
df["ranking"]=df["ranking"].astype(str)

In [17]:
df.dtypes

title                   object
genre                   object
release_date            object
ranking                 object
director                object
cast                    object
budget                 float64
runtime                float64
cum_worldwide_gross    float64
dtype: object

Yukarıdakini yapmamızın sebebi aşağıda genre ranking director ve cast ı kullanacağım özellikler olarak se.tim
bunun  için de o özellikleri düz bir satır halinde df e eklemek gereekiyoro ancak ranking float tipinde olduğu için
çalışmıyor rankingin tipini object yaptım şidmi lets go bitches

In [18]:
dict= {19:"Fernando Meirelles, Kátia Lund",26:" Hayao Miyazaki",28:"Peter Ramsey",39:"Olivier Nakache, Eric Toledano",46:"Rob Minkoff, Roger Allers",55:"Joe Russo, Anthony Russo",70:"Adrian Molina, Lee Unkrich",83:"Aamir Khan, Amole Gupte",93:"Gene Kelly, Stanley Donen",94:"Quentin Tarantino",105:"Terry Gilliam, Terry Jones",113:"Pete Docter",146:"Pete Docter",156:"Buster Keaton, Clyde Bruckman",157:"Ethan Coen, Joel Coen",161:"Victor Fleming",163:"Ethan Coen, Joel Coen",166:"Andrew Stanton",168:"Ethan Coen, Joel Coen",179:"Chris Sanders, Dean DeBlois",220:"Pete Docter",230:"Victor Fleming"}

for i in dict:
    df.loc[i,"director"]=dict[i]
    
a=df[df["director"].isnull()]
a

Empty DataFrame
Columns: [title, genre, release_date, ranking, director, cast, budget, runtime, cum_worldwide_gross]
Index: []

In [19]:
df.loc[ 19 , : ]

title                                                    Cidade de Deus
genre                                                     Crime; \nDrama
release_date                                              30 August 2002
ranking                                                              8.6
director                                  Fernando Meirelles, Kátia Lund
cast                   Alexandre Rodrigues;Leandro Firmino;Phellipe H...
budget                                                           3.3e+06
runtime                                                              130
cum_worldwide_gross                                          3.20593e+07
Name: 19, dtype: object

In [20]:
df.isnull().sum()

title                   0
genre                  48
release_date            0
ranking                 0
director                0
cast                    0
budget                 49
runtime                 1
cum_worldwide_gross    96
dtype: int64

In [21]:
runtimeeksik=df[df["runtime"].isnull()]
runtimeeksik

,title,genre,release_date,ranking,director,cast,budget,runtime,cum_worldwide_gross
70,Coco,NaN,22 November 2017,8.4,"Adrian Molina, Lee Unkrich",Anthony Gonzalez;Gael García Bernal;Benjamin B...,175000000.0,NaN,807082196.0

In [22]:
df.loc[70,"runtime"]=109.0

In [23]:
df.loc[70,:]

title                                                              Coco
genre                                                                NaN
release_date                                            22 November 2017
ranking                                                              8.4
director                                      Adrian Molina, Lee Unkrich
cast                   Anthony Gonzalez;Gael García Bernal;Benjamin B...
budget                                                          1.75e+08
runtime                                                              109
cum_worldwide_gross                                          8.07082e+08
Name: 70, dtype: object

---NOTE---
-------
Vscode'da models kısmında tanımlayacağım sınıf için datatypesları lazım onun için baktım

In [24]:
df.dtypes

title                   object
genre                   object
release_date            object
ranking                 object
director                object
cast                    object
budget                 float64
runtime                float64
cum_worldwide_gross    float64
dtype: object

In [25]:
df.to_csv("movies_IMDb.csv")

In [26]:
df["genre"]=df["genre"].fillna('')

In [27]:
b=df[df["genre"].isnull()]
b

Empty DataFrame
Columns: [title, genre, release_date, ranking, director, cast, budget, runtime, cum_worldwide_gross]
Index: []

In [28]:
i=0
df.loc[i,"director"].replace(" ","")

'FrankDarabont'

In [29]:
i=0
for i in range(250):
    df.loc[i,"director"]=df.loc[i,"director"].replace(" ","")

In [30]:
df

,title,genre,release_date,ranking,director,cast,budget,runtime,cum_worldwide_gross
0,The Shawshank Redemption,Drama,14 October 1994,9.3,FrankDarabont,Tim Robbins;Morgan Freeman;Bob Gunton;William ...,25000000.0,142.0,5.850000e+07
1,The Godfather,Crime; \nDrama,24 March 1972,9.2,FrancisFordCoppola,Marlon Brando;Al Pacino;James Caan;Richard S. ...,6000000.0,175.0,2.450664e+08
2,The Godfather: Part II,Crime; \nDrama,20 December 1974,9.0,FrancisFordCoppola,Al Pacino;Robert Duvall;Diane Keaton;Robert De...,13000000.0,202.0,NaN
3,The Dark Knight,Action; \nCrime; \nDrama,18 July 2008,9.0,ChristopherNolan,Christian Bale;Heath Ledger;Aaron Eckhart;Mich...,185000000.0,152.0,1.004558e+09
4,12 Angry Men,Drama,April 1957,8.9,SidneyLumet,Martin Balsam;John Fiedler;Lee J. Cobb;E.G. Ma...,350000.0,96.0,NaN
...,...,...,...,...,...,...,...,...,...
245,Guardians of the Galaxy,Action; \nAdventure; \nComedy,1 August 2014,8.1,JamesGunn,Chris Pratt;Zoe Saldana;Dave Bautista;Vin Dies...,170000000.0,121.0,7.741766e+08
246,Fanny och Alexander,Drama,17 December 1982,8.1,IngmarBergman,Kristina Adolphson;Börje Ahlstedt;Pernilla All...,6000000.0,188.0,NaN
247,La La Land,Comedy; \nDrama; \nMusic,25 December 2016,8.0,DamienChazelle,Ryan Gosling;Emma Stone;Amiée Conn;Terry Walte...,30000000.0,128.0,4.460924e+08
248,Drishyam,Crime; \nDrama; \nThriller,31 July 2015,8.3,NishikantKamat,Ajay Devgn;Shriya Saran;Tabu;Rajat Kapoor;Ishi...,9400000.0,163.0,NaN
249,8½,Drama,16 February 1963,8.1,FedericoFellini,Marcello Mastroianni;Claudia Cardinale;Anouk A...,NaN,138.0,NaN

Şimdi genre ranking director ve cast featurelarını seçerek hepsini text halinde birleştirip her satır için 
1 sütun elde ediyoruz.

In [31]:
def combine_features(row):
    
    return row['genre'] + " "+ row['ranking'] +" "  +row['director']+ " "+row['cast']

        
df["combined"]=df.apply(combine_features,axis=1) 
df["combined"].head()

0    Drama 9.3 FrankDarabont Tim Robbins;Morgan Fre...
1    Crime; \nDrama 9.2 FrancisFordCoppola Marlon B...
2    Crime; \nDrama 9.0 FrancisFordCoppola Al Pacin...
3    Action; \nCrime; \nDrama 9.0 ChristopherNolan ...
4    Drama 8.9 SidneyLumet Martin Balsam;John Fiedl...
Name: combined, dtype: object

In [32]:
df

,title,genre,release_date,ranking,director,cast,budget,runtime,cum_worldwide_gross,combined
0,The Shawshank Redemption,Drama,14 October 1994,9.3,FrankDarabont,Tim Robbins;Morgan Freeman;Bob Gunton;William ...,25000000.0,142.0,5.850000e+07,Drama 9.3 FrankDarabont Tim Robbins;Morgan Fre...
1,The Godfather,Crime; \nDrama,24 March 1972,9.2,FrancisFordCoppola,Marlon Brando;Al Pacino;James Caan;Richard S. ...,6000000.0,175.0,2.450664e+08,Crime; \nDrama 9.2 FrancisFordCoppola Marlon B...
2,The Godfather: Part II,Crime; \nDrama,20 December 1974,9.0,FrancisFordCoppola,Al Pacino;Robert Duvall;Diane Keaton;Robert De...,13000000.0,202.0,NaN,Crime; \nDrama 9.0 FrancisFordCoppola Al Pacin...
3,The Dark Knight,Action; \nCrime; \nDrama,18 July 2008,9.0,ChristopherNolan,Christian Bale;Heath Ledger;Aaron Eckhart;Mich...,185000000.0,152.0,1.004558e+09,Action; \nCrime; \nDrama 9.0 ChristopherNolan ...
4,12 Angry Men,Drama,April 1957,8.9,SidneyLumet,Martin Balsam;John Fiedler;Lee J. Cobb;E.G. Ma...,350000.0,96.0,NaN,Drama 8.9 SidneyLumet Martin Balsam;John Fiedl...
...,...,...,...,...,...,...,...,...,...,...
245,Guardians of the Galaxy,Action; \nAdventure; \nComedy,1 August 2014,8.1,JamesGunn,Chris Pratt;Zoe Saldana;Dave Bautista;Vin Dies...,170000000.0,121.0,7.741766e+08,Action; \nAdventure; \nComedy 8.1 JamesGunn Ch...
246,Fanny och Alexander,Drama,17 December 1982,8.1,IngmarBergman,Kristina Adolphson;Börje Ahlstedt;Pernilla All...,6000000.0,188.0,NaN,Drama 8.1 IngmarBergman Kristina Adolphson;Bör...
247,La La Land,Comedy; \nDrama; \nMusic,25 December 2016,8.0,DamienChazelle,Ryan Gosling;Emma Stone;Amiée Conn;Terry Walte...,30000000.0,128.0,4.460924e+08,Comedy; \nDrama; \nMusic 8.0 DamienChazelle Ry...
248,Drishyam,Crime; \nDrama; \nThriller,31 July 2015,8.3,NishikantKamat,Ajay Devgn;Shriya Saran;Tabu;Rajat Kapoor;Ishi...,9400000.0,163.0,NaN,Crime; \nDrama; \nThriller 8.3 NishikantKamat ...
249,8½,Drama,16 February 1963,8.1,FedericoFellini,Marcello Mastroianni;Claudia Cardinale;Anouk A...,NaN,138.0,NaN,Drama 8.1 FedericoFellini Marcello Mastroianni...

In [33]:
df.dtypes

title                   object
genre                   object
release_date            object
ranking                 object
director                object
cast                    object
budget                 float64
runtime                float64
cum_worldwide_gross    float64
combined                object
dtype: object

To detect the similiarities between movies we will vectorize the data with countervectorizer

In [34]:
count = CountVectorizer()
count_matrix = count.fit_transform(df['combined'])

In [35]:
cosine_sim = cosine_similarity(count_matrix)

#deneme yapıyorum şuan algoritma çalışmıyor ben de countvectorizor nasıl bir matrix oluşturuyor diye bunları inceleyecektim
#print(count_matrix.vocabulary_)

# summarize encoded vector
print(count_matrix.shape)
print(count.vocabulary_)
print(type(count_matrix))
print(count_matrix.toarray())

indices = pd.Series(df.index)

#  defining the function that takes in movie title 
# as input and returns the top 10 recommended movies
def recommendations(title, cosine_sim = cosine_sim):
    
    # initializing the empty list of recommended movies
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(df.index)[i])
        
    return recommended_movies

In [36]:
df.index.name="index"

In [37]:
df

,title,genre,release_date,ranking,director,cast,budget,runtime,cum_worldwide_gross,combined
index,,,,,,,,,,
0,The Shawshank Redemption,Drama,14 October 1994,9.3,FrankDarabont,Tim Robbins;Morgan Freeman;Bob Gunton;William ...,25000000.0,142.0,5.850000e+07,Drama 9.3 FrankDarabont Tim Robbins;Morgan Fre...
1,The Godfather,Crime; \nDrama,24 March 1972,9.2,FrancisFordCoppola,Marlon Brando;Al Pacino;James Caan;Richard S. ...,6000000.0,175.0,2.450664e+08,Crime; \nDrama 9.2 FrancisFordCoppola Marlon B...
2,The Godfather: Part II,Crime; \nDrama,20 December 1974,9.0,FrancisFordCoppola,Al Pacino;Robert Duvall;Diane Keaton;Robert De...,13000000.0,202.0,NaN,Crime; \nDrama 9.0 FrancisFordCoppola Al Pacin...
3,The Dark Knight,Action; \nCrime; \nDrama,18 July 2008,9.0,ChristopherNolan,Christian Bale;Heath Ledger;Aaron Eckhart;Mich...,185000000.0,152.0,1.004558e+09,Action; \nCrime; \nDrama 9.0 ChristopherNolan ...
4,12 Angry Men,Drama,April 1957,8.9,SidneyLumet,Martin Balsam;John Fiedler;Lee J. Cobb;E.G. Ma...,350000.0,96.0,NaN,Drama 8.9 SidneyLumet Martin Balsam;John Fiedl...
...,...,...,...,...,...,...,...,...,...,...
245,Guardians of the Galaxy,Action; \nAdventure; \nComedy,1 August 2014,8.1,JamesGunn,Chris Pratt;Zoe Saldana;Dave Bautista;Vin Dies...,170000000.0,121.0,7.741766e+08,Action; \nAdventure; \nComedy 8.1 JamesGunn Ch...
246,Fanny och Alexander,Drama,17 December 1982,8.1,IngmarBergman,Kristina Adolphson;Börje Ahlstedt;Pernilla All...,6000000.0,188.0,NaN,Drama 8.1 IngmarBergman Kristina Adolphson;Bör...
247,La La Land,Comedy; \nDrama; \nMusic,25 December 2016,8.0,DamienChazelle,Ryan Gosling;Emma Stone;Amiée Conn;Terry Walte...,30000000.0,128.0,4.460924e+08,Comedy; \nDrama; \nMusic 8.0 DamienChazelle Ry...
248,Drishyam,Crime; \nDrama; \nThriller,31 July 2015,8.3,NishikantKamat,Ajay Devgn;Shriya Saran;Tabu;Rajat Kapoor;Ishi...,9400000.0,163.0,NaN,Crime; \nDrama; \nThriller 8.3 NishikantKamat ...
249,8½,Drama,16 February 1963,8.1,FedericoFellini,Marcello Mastroianni;Claudia Cardinale;Anouk A...,NaN,138.0,NaN,Drama 8.1 FedericoFellini Marcello Mastroianni...

In [38]:
df.index

RangeIndex(start=0, stop=250, step=1, name='index')

horay biçez attention
-----------------------------------
DID IT BİÇEZ

#title columnunda Fargoyu içeren rowların indexini döndürüyor.
idx=df[df['title'].str.contains("Fargo")].index.tolist()
idx

strings = [str(integer) for integer in idx]
print(strings)
a_string = "".join(strings)
print(a_string)
an_integer = int(a_string)

print(an_integer)

FAILED
----
spike_cols = [df.index[] for col in df["title"] if 'Fargo' in col]

print(spike_cols)

FAILED 2
--
#we tryuna get the index of fargo and return it then eventually make it a serie for every movie
df.index[df['title']== "The Godfather"]

In [39]:

    # gettin the index of the movie that matches the title
    #idx = indices[indices == title].index[0]
movie_index= get_index_by_title("Fargo")
print(movie_index)

163
163

In [40]:
cosine_sim[movie_index]

array([0.05521576, 0.05001563, 0.05066946, 0.07600419, 0.03005565,
       0.        , 0.02533473, 0.05437272, 0.        , 0.02639818,
       0.02602896, 0.10269923, 0.02639818, 0.        , 0.02567481,
       0.08282364, 0.0722944 , 0.        , 0.02500782, 0.04938648,
       0.10269923, 0.05205792, 0.07407972, 0.02639818, 0.02533473,
       0.05134962, 0.        , 0.02639818, 0.        , 0.15617376,
       0.05066946, 0.05134962, 0.02718636, 0.05205792, 0.0378777 ,
       0.        , 0.05609927, 0.02639818, 0.        , 0.        ,
       0.10003126, 0.02500782, 0.        , 0.05609927, 0.02804964,
       0.02678358, 0.        , 0.02533473, 0.02639818, 0.02760788,
       0.05437272, 0.        , 0.02678358, 0.02718636, 0.        ,
       0.        , 0.05356716, 0.05205792, 0.05279637, 0.08155909,
       0.05279637, 0.02678358, 0.        , 0.05001563, 0.05702659,
       0.05437272, 0.05356716, 0.01746076, 0.02602896, 0.07600419,
       0.        , 0.05001563, 0.05356716, 0.02639818, 0.03256448,
       0.02469324, 0.20823168, 0.02602896, 0.07919455, 0.        ,
       0.        , 0.02718636, 0.02639818, 0.02639818, 0.05279637,
       0.02469324, 0.07502345, 0.02760788, 0.05356716, 0.        ,
       0.        , 0.0624695 , 0.07808688, 0.        , 0.02718636,
       0.02602896, 0.10713432, 0.03187884, 0.04508348, 0.04656202,
       0.02533473, 0.        , 0.02567481, 0.05279637, 0.05205792,
       0.02500782, 0.        , 0.1339179 , 0.02602896, 0.03407991,
       0.02567481, 0.        , 0.06984303, 0.        , 0.05279637,
       0.05134962, 0.05356716, 0.02639818, 0.02678358, 0.        ,
       0.05279637, 0.03123475, 0.10269923, 0.02639818, 0.02533473,
       0.        , 0.09639254, 0.02302656, 0.02678358, 0.02718636,
       0.05066946, 0.        , 0.        , 0.        , 0.        ,
       0.02760788, 0.05437272, 0.02533473, 0.03904344, 0.08155909,
       0.        , 0.1301448 , 0.10874545, 0.07407972, 0.10411584,
       0.02602896, 0.        , 0.        , 0.10559274, 0.        ,
       0.02718636, 0.02439024, 0.02678358, 0.04708816, 0.0624695 ,
       0.02602896, 0.        , 0.1301448 , 0.05437272, 0.02381628,
       0.07600419, 0.02602896, 0.08035074, 1.        , 0.04878049,
       0.02567481, 0.        , 0.02760788, 0.22507035, 0.        ,
       0.02602896, 0.04708816, 0.07919455, 0.05205792, 0.02760788,
       0.        , 0.0216574 , 0.        , 0.05134962, 0.        ,
       0.03256448, 0.04708816, 0.02602896, 0.05279637, 0.02500782,
       0.        , 0.04878049, 0.02602896, 0.        , 0.05279637,
       0.08035074, 0.07702442, 0.08282364, 0.03582872, 0.09417632,
       0.03733267, 0.0285133 , 0.02678358, 0.02760788, 0.02718636,
       0.        , 0.02567481, 0.        , 0.10411584, 0.05356716,
       0.        , 0.04878049, 0.08035074, 0.02678358, 0.07919455,
       0.02533473, 0.02602896, 0.05066946, 0.05134962, 0.08035074,
       0.        , 0.02639818, 0.        , 0.02602896, 0.02678358,
       0.18220272, 0.02602896, 0.02951407, 0.02678358, 0.07407972,
       0.        , 0.        , 0.04763255, 0.05356716, 0.        ,
       0.        , 0.07808688, 0.03492151, 0.02567481, 0.04605313,
       0.02567481, 0.05356716, 0.03123475, 0.02639818, 0.03187884,
       0.02678358, 0.        , 0.10713432, 0.        , 0.02567481,
       0.02639818, 0.02639818, 0.02760788, 0.08155909, 0.02639818])

In [41]:
enumerate(cosine_sim[movie_index])

THIS IS ALSO A FAIL
--
list(enumerate didint work bc it was already in an array form)

In [42]:
#since cosine_sim[movie_index] is already an array we dont need to turn it into a list anymore we just use enumerate and go with it

list(enumerate(cosine_sim[movie_index]))

[(0, 0.05521576303742327),
 (1, 0.050015632328035534),
 (2, 0.050669459193814),
 (3, 0.076004188790721),
 (4, 0.030055654488914414),
 (5, 0.0),
 (6, 0.025334729596907),
 (7, 0.05437272478270369),
 (8, 0.0),
 (9, 0.026398183867422733),
 (10, 0.026028960314767677),
 (11, 0.10269923319261937),
 (12, 0.026398183867422733),
 (13, 0.0),
 (14, 0.02567480829815484),
 (15, 0.0828236445561349),
 (16, 0.07229440390678199),
 (17, 0.0),
 (18, 0.025007816164017767),
 (19, 0.049386479832479485),
 (20, 0.10269923319261937),
 (21, 0.052057920629535355),
 (22, 0.07407971974871923),
 (23, 0.026398183867422733),
 (24, 0.025334729596907),
 (25, 0.05134961659630968),
 (26, 0.0),
 (27, 0.026398183867422733),
 (28, 0.0),
 (29, 0.15617376188860607),
 (30, 0.050669459193814),
 (31, 0.05134961659630968),
 (32, 0.027186362391351845),
 (33, 0.052057920629535355),
 (34, 0.03787770095392851),
 (35, 0.0),
 (36, 0.056099271345321444),
 (37, 0.026398183867422733),
 (38, 0.0),
 (39, 0.0),
 (40, 0.10003126465607107),
 (41, 0.025007816164017767),
 (42, 0.0),
 (43, 0.056099271345321444),
 (44, 0.028049635672660722),
 (45, 0.026783579200279007),
 (46, 0.0),
 (47, 0.025334729596907),
 (48, 0.026398183867422733),
 (49, 0.027607881518711633),
 (50, 0.05437272478270369),
 (51, 0.0),
 (52, 0.026783579200279007),
 (53, 0.027186362391351845),
 (54, 0.0),
 (55, 0.0),
 (56, 0.053567158400558014),
 (57, 0.052057920629535355),
 (58, 0.052796367734845466),
 (59, 0.08155908717405554),
 (60, 0.052796367734845466),
 (61, 0.026783579200279007),
 (62, 0.0),
 (63, 0.050015632328035534),
 (64, 0.0570265948512201),
 (65, 0.05437272478270369),
 (66, 0.053567158400558014),
 (67, 0.017460757394239454),
 (68, 0.026028960314767677),
 (69, 0.076004188790721),
 (70, 0.0),
 (71, 0.050015632328035534),
 (72, 0.053567158400558014),
 (73, 0.026398183867422733),
 (74, 0.03256448045129181),
 (75, 0.024693239916239743),
 (76, 0.2082316825181414),
 (77, 0.026028960314767677),
 (78, 0.0791945516022682),
 (79, 0.0),
 (80, 0.0),
 (81, 0.027186362391351845),
 (82, 0.026398183867422733),
 (83, 0.026398183867422733),
 (84, 0.052796367734845466),
 (85, 0.024693239916239743),
 (86, 0.07502344849205331),
 (87, 0.027607881518711633),
 (88, 0.053567158400558014),
 (89, 0.0),
 (90, 0.0),
 (91, 0.06246950475544243),
 (92, 0.07808688094430304),
 (93, 0.0),
 (94, 0.027186362391351845),
 (95, 0.026028960314767677),
 (96, 0.10713431680111603),
 (97, 0.03187883565316692),
 (98, 0.04508348173337162),
 (99, 0.046562019717971886),
 (100, 0.025334729596907),
 (101, 0.0),
 (102, 0.02567480829815484),
 (103, 0.052796367734845466),
 (104, 0.052057920629535355),
 (105, 0.025007816164017767),
 (106, 0.0),
 (107, 0.13391789600139503),
 (108, 0.026028960314767677),
 (109, 0.03407990882954985),
 (110, 0.02567480829815484),
 (111, 0.0),
 (112, 0.06984302957695782),
 (113, 0.0),
 (114, 0.052796367734845466),
 (115, 0.05134961659630968),
 (116, 0.053567158400558014),
 (117, 0.026398183867422733),
 (118, 0.026783579200279007),
 (119, 0.0),
 (120, 0.052796367734845466),
 (121, 0.031234752377721216),
 (122, 0.10269923319261937),
 (123, 0.026398183867422733),
 (124, 0.025334729596907),
 (125, 0.0),
 (126, 0.09639253854237598),
 (127, 0.023026564952925203),
 (128, 0.026783579200279007),
 (129, 0.027186362391351845),
 (130, 0.050669459193814),
 (131, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.027607881518711633),
 (136, 0.05437272478270369),
 (137, 0.025334729596907),
 (138, 0.03904344047215152),
 (139, 0.08155908717405554),
 (140, 0.0),
 (141, 0.13014480157383837),
 (142, 0.10874544956540738),
 (143, 0.07407971974871923),
 (144, 0.10411584125907071),
 (145, 0.026028960314767677),
 (146, 0.0),
 (147, 0.0),
 (148, 0.10559273546969093),
 (149, 0.0),
 (150, 0.027186362391351845),
 (151, 0.024390243902439025),
 (152, 0.026783579200279007),
 (153, 0.047088160934801115),
 (154, 0.06246950475544243),
 (155, 0.026028960314767677),
 (156, 0.0),
 (157, 0.1301448015738384),
 (158, 0.05437272478270369),
 (159, 0.023816275411477048),
 (160, 0.076004188790721),
 (161, 0.026028960314767677),
 (162, 0.08035073760083702),
 (163, 1.0000000000000002),
 (164, 0.04878048780487805),
 (165, 0.02567480829815484),
 (166, 0.0),
 (167, 0.027607881518711633),
 (168, 0.2250703454761599),
 (169, 0.0),
 (170, 0.026028960314767677),
 (171, 0.047088160934801115),
 (172, 0.0791945516022682),
 (173, 0.052057920629535355),
 (174, 0.027607881518711633),
 (175, 0.0),
 (176, 0.0216574040912105),
 (177, 0.0),
 (178, 0.05134961659630968),
 (179, 0.0),
 (180, 0.03256448045129181),
 (181, 0.047088160934801115),
 (182, 0.026028960314767677),
 (183, 0.052796367734845466),
 (184, 0.025007816164017767),
 (185, 0.0),
 (186, 0.04878048780487805),
 (187, 0.026028960314767677),
 (188, 0.0),
 (189, 0.052796367734845466),
 (190, 0.08035073760083702),
 (191, 0.07702442489446452),
 (192, 0.0828236445561349),
 (193, 0.03582871819500093),
 (194, 0.09417632186960223),
 (195, 0.03733266964732787),
 (196, 0.02851329742561005),
 (197, 0.026783579200279007),
 (198, 0.027607881518711633),
 (199, 0.027186362391351845),
 (200, 0.0),
 (201, 0.02567480829815484),
 (202, 0.0),
 (203, 0.10411584125907071),
 (204, 0.053567158400558014),
 (205, 0.0),
 (206, 0.04878048780487805),
 (207, 0.08035073760083702),
 (208, 0.026783579200279007),
 (209, 0.0791945516022682),
 (210, 0.025334729596907),
 (211, 0.026028960314767677),
 (212, 0.050669459193814),
 (213, 0.05134961659630968),
 (214, 0.08035073760083701),
 (215, 0.0),
 (216, 0.026398183867422733),
 (217, 0.0),
 (218, 0.026028960314767677),
 (219, 0.026783579200279007),
 (220, 0.18220272220337372),
 (221, 0.026028960314767677),
 (222, 0.029514066805047763),
 (223, 0.026783579200279007),
 (224, 0.07407971974871923),
 (225, 0.0),
 (226, 0.0),
 (227, 0.047632550822954096),
 (228, 0.053567158400558014),
 (229, 0.0),
 (230, 0.0),
 (231, 0.07808688094430304),
 (232, 0.03492151478847891),
 (233, 0.02567480829815484),
 (234, 0.04605312990585041),
 (235, 0.02567480829815484),
 (236, 0.053567158400558014),
 (237, 0.031234752377721216),
 (238, 0.026398183867422733),
 (239, 0.03187883565316692),
 (240, 0.026783579200279007),
 (241, 0.0),
 (242, 0.10713431680111601),
 (243, 0.0),
 (244, 0.02567480829815484),
 (245, 0.026398183867422733),
 (246, 0.026398183867422733),
 (247, 0.027607881518711633),
 (248, 0.08155908717405554),
 (249, 0.026398183867422733)]

In [43]:
similar_movies= enumerate(cosine_sim[movie_index])
sorted_similar_movies= sorted(similar_movies, key=lambda x:x[1],reverse=True)

In [44]:
i=0
for movie in sorted_similar_movies:
    if i>0:
        print(get_title_by_index(movie[0]))
    i+=1
    if i>11:
        break

The Big Lebowski
Reservoir Dogs
Monsters, Inc.
Léon
L.A. Confidential
No Country for Old Men
Lock, Stock and Two Smoking Barrels
Casino
To Kill a Mockingbird
The Best Years of Our Lives
Room

movie_user_likes = "Fargo"

movie_index= get_index_by_title(movie_user_likes) #titldan dfdeki indexi buluyoruz

similar_movies= list(enumerate(cosine_sim[movie_index]))
sorted_similar_movies= sorted(similar_movies, key=lambda x:x[1],reverse=True)

i=0
for movie in sorted_similar_movies:
    print(get_title_by_index(movie[0]))
    i+=1
    if i>10:
        break

NOW LET M ETRY THE GIRLS FORMULA
--

In [45]:

# instantiating and generating the count matrix
cv = CountVectorizer()
count_matrix = cv.fit_transform(df['combined'])

# generating the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [46]:
indices = pd.Series(df.index)

#  defining the function that takes in movie title 
# as input and returns the top 10 recommended movies
def recommendations(title, cosine_sim = cosine_sim):
    
    # initializing the empty list of recommended movies
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx =get_index_by_title(title)

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(df.index)[i])
        
    return recommended_movies

In [47]:
recommendations("Fargo")

163

[168, 76, 220, 29, 107, 157, 141, 142, 96, 242]

In [48]:
df.to_csv("movies_IMDb2.csv")